@page
@model Projekat.Areas.Vodici.IndexModel
@{
    ViewData["Title"]="Vodici";
}
<div class="text-center">
    <h1 class="display-4">Vodici</h1>
</div>

 <a href="/Vodici/Add">Dodaj vodica </a>

    
@foreach (var item in Model.Vodici) 
{
  <div class="card text-white bg-dark " style="width: 18rem; margin:5px;">
     <div class="card-body">
        <h5 class="card-title">@Html.DisplayFor(modelItem => item.ImeVodica) @Html.DisplayFor(modelItem => item.PrezimeVodica)</h5>           
        <a href="/Vodici/ViewOne?id=@item.IdVodica">Prikazi detalje</a>
    </div>
    </div>
}
   