@page
@model Projekat_1.AddPitanjeModel
@{
 
}

<h1>AddPitanje</h1>

<h4>Pitanja</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pitanje.PitanjeTekst" class="control-label"></label>
                <input asp-for="Pitanje.PitanjeTekst" class="form-control" />
                <span asp-validation-for="Pitanje.PitanjeTekst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pitanje.Opa" class="control-label"></label>
                <input asp-for="Pitanje.Opa" class="form-control" />
                <span asp-validation-for="Pitanje.Opa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pitanje.Opb" class="control-label"></label>
                <input asp-for="Pitanje.Opb" class="form-control" />
                <span asp-validation-for="Pitanje.Opb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pitanje.Opc" class="control-label"></label>
                <input asp-for="Pitanje.Opc" class="form-control" />
                <span asp-validation-for="Pitanje.Opc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pitanje.Tacan" class="control-label"></label>
                <input asp-for="Pitanje.Tacan" class="form-control" />
                <span asp-validation-for="Pitanje.Tacan" class="text-danger"></span>
            </div>
             <div class="form-group">
              <label asp-for="Pitanje.KvizId" class="control-label"></label>
              <input asp-for="Pitanje.KvizId" class="form-control" />
                <span asp-validation-for="Pitanje.KvizId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}