@page
@model MyApp.Namespace.AddPitanjeModel
@{
}

<form>
  <div class="form-group">
    <label for="tekst pitanja"></label>
    <input type="text" class="form-control" id="tekst pitanja" placeholder="Unesite tekst pitanja">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <input type="text" class="form-control" id="tekst pitanja" placeholder="Unesite prvi odgovor">
  </div>
   <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <input type="text" class="form-control" id="tekst pitanja" placeholder="Unesite drugi odgovor">
  </div>
   <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <input type="text" class="form-control" id="tekst pitanja" placeholder="Unesite treci odgovor">
  </div>
  <button type="submit" class="btn btn-primary">Dodaj pitanje</button>
</form>