@page
@model MyApp.Namespace.AddPitanjeModel
@{
}

<p> Unesite informacije o pitanju</p>
<form method="post"> 
    <div asp-validation-summary="All" class="text-danger"></div>
    <label>@Model.ErrorMessage</label>
    <div>Tekst Pitanja: <input asp-for="JednoPitanje.Tekstpitanja" /></div>
    <div>Id kviza: <input asp-for="JednoPitanje.Kvizid" /></div>
    <button type="submit">Dodaj</button>
</form>