@page
@model MyApp.Namespace.AddTureModel
@{
}
<form action="/Ture">
<button type="submit">
    Prikazi sve ture
</button>
</form>
<h3>Dodajte novu turu:</h3>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <label>@Model.ErrorMessage</label>
    <div>
        <label>Ime ture:<input asp-for="JednaTura.NazivTure"></label>
    </div>
    <div>
        <p>Izaberite znamenitosti koje zelite da ova tura sadrzi:</p>
        <table class="table" border="1" frame"hsides" rules="rows">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col">Ime Znamenitosti</th>
                <th scope='col'></th>
                <th scope='col'>Izaberi znamenitost</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>Cele Kula</td>
                <td><button type="button" class="btn btn-primary">Prikazi više</button></td>
                <td><input type="checkbox"></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
    <p>Izaberite turistu koji ce da vodi turu:</p>
        <table class="table" border=1 frame=hsides rules=rows>
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col">Ime</th>
                <th scope="col">Prezime</th>
                <th scope="col">Ocena</th>
                <th scope='col'></th>
                <th scope='col'>Izaberi turistu</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>Petar</td>
                <td>Petrović</td>
                <td>10</td>
                <td><button type="button" class="btn btn-primary">Prikazi više</button></td>
                <td><input type="radio" name="radiobtn"></td>
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>Ana</td>
                <td>Antić</td>
                <td>9,5</td>
                <td><button type="button" class="btn btn-primary">Prikazi više</button></td>
                <td><input type="radio" name="radiobtn"></td>
                </tr>
                <tr>
                <th scope="row">3</th>
                <td>Sonja</td>
                <td>Savić</td>
                <td>9,1</td>
                <td><button type="button" class="btn btn-primary">Prikazi više</button></td>
                <td><input type="radio" name="radiobtn"></td>
                </tr>
                <tr>
                <th scope="row">4</th>
                <td>Milan</td>
                <td>Mitrović</td>
                <td>8,3</td>
                <td><button type="button" class="btn btn-primary">Prikazi više</button></td>
                <td><input type="radio" name="radiobtn"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <p>Unesite datum kada ce se tura odrzavati: </p>
        <input type="date">
        <p>Unesite vreme kada ce se tura odrzavati: </p>
        <input type="time">
    </div>
    <div></div>
    <div>
        <button type="submit" class="btn btn-primary">KREIRAJ TURU</button>
    </div>
</form>