@page
@model MyApp.Namespace.AddVodicModel
@{
}

<form method="post">
    <p>Unesite podatke o novom vodicu:</p>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>Korisnicko ime: <input asp-for="NoviKorisnik.Username" /> </div>
    <div>Lozinka: <input asp-for="NoviKorisnik.Password" /></div>
    <div>Ime vodica: <input asp-for="NoviVodic.ImeVodica" /></div>
    <div>Prezime vodica: <input asp-for="NoviVodic.PrezimeVodica" /></div>
    <div>Pol vodica: <input asp-for="NoviVodic.Pol" /></div>
    <div>Telefon vodica: <input asp-for="NoviVodic.BrojTelefona" /></div>

    <button type="submit">Dodaj vodica</button>
</form>