@page
@model MyApp.Namespace.AddZnamenitostModel
@{
}

<p> Unesite informacije o znamenitosti koju zelite da dodate.</p>
<form method="post"> 
    <div asp-validation-summary="All" class="text-danger"></div>
    <label>@Model.ErrorMessage</label>
    <div>Naziv znamenitosti: <input asp-for="JednaZnamenitost.NazivZnamenitosti" /></div>
    <div>Lokacija znamenitosti: <input asp-for="JednaZnamenitost.LokacijaZnamenitosti" /></div>
    <button type="submit">Dodaj</button>
</form>