@page
@model MyApp.Namespace.CustomRezervacijaModel
@{
     ViewData["Title"] = "Custom Rezervacija";
}


<div class="customKontejner">
       <label class="control-label required" for="select">Znamenitosti</label>
             <div class="select">
                <select id="select" name="select" class="form-control" multiple>
                    <option value="">Cele Kula</option>
                    <option value="">Tvrdjava</option>
                    <option value="">Bubanj</option>
                    <option value="">Cegar</option>
                </select>
            </div>
                                      
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <label>@Model.ErrorMessage</label>
    <div class="custom">
    <div>Broj Osoba: <input asp-for="JednaRezervacija.BrojOsoba" /></div>
    <div>ID vodica: <input asp-for="JednaRezervacija.IdVodicaRez"/></div>
    <div>Vas ID: <input asp-for="JednaRezervacija.IdTuristeRez"/></div>
    <div>Datum izvodjenja <input asp-for="JednaRezervacija.DatumIzvodjenja" /></div>
    <button type="submit">Dodaj</button>
    </div>
</form>
</div>