@page
@model IndexModel
@{
    ViewData["Title"] = "ONT";
}

<div class="text-center">
    <h1 class="display-4">Organizacija Niškog Turizma</h1>
</div>

<h2> <a asp-page="./Vodici">Vodici </a></h2>
<h2> <a asp-page="./Znamenitosti">Znamenitosti</a> </h2>
<h2> <a asp-page="./HallOfFame"> Hall of Fame </a> </h2>
<h2> <a asp-page="./JedanKviz">Jedan kviz - primer</a> </h2>
<h2> <a asp-page="./KorisnickiNaloziVodica">Korisnicki nalozi vodica</a> </h2>
