@page
@model Projekat_1.IzmeniTuruModel
@{
}

<p>Izmeni informacije o turi</p>
<form method="post">
    <input type="hidden" asp-for="TrenutnaTura.IdTure">
    <div>Naziv ture:<input type="text" asp-for="TrenutnaTura.NazivTure" /></div>
    <div>Datum odrzavanja: <input type="text" asp-for="TrenutnaTura.DatumOdrzavanja" /></div>
    <div>Vreme odrzavanja: <input type="text" asp-for="TrenutnaTura.VremeOdrzavanja" /></div>

    <button type="submit" asp-page-handler="Sacuvaj">Sacuvaj izmene</button>
</form>