@page
@model MyApp.Namespace.JedanKvizAdminModel
@{
    ViewData["Title"] = "Naziv kviza";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<form> 
    <a asp-page="./AddPitanje/" >Dodaj pitanje</a>
</form>

<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Prvo pitanje
        <button type="button" class="btn btn-primary">Izbrisi pitanje</button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Drugo pitanje
        <button type="button" class="btn btn-primary">Izbrisi pitanje</button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Trece pitanje
        <button type="button" class="btn btn-primary">Izbrisi pitanje</button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Cetvrto pitanje
        <button type="button" class="btn btn-primary">Izbrisi pitanje</button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Peto pitanje
        <button type="button" class="btn btn-primary">Izbrisi pitanje</button>
    </li>
</ul>
