@page
@model Projekat_1.JedanVodicModel
@{
}

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Ime:Petar</li>
    <li class="list-group-item">Prezime:Petrovic</li>
    <li class="list-group-item">Pol:M</li>
    <li class="list-group-item">Broj Telefona:225883</li>
  </ul>
  <div class="card-body">
    <button type="submit" class="btn btn-primary">Oceni Vodica</button>
  </div>
</div>

@* <form>
    <div class="form-group">
    <label for="ocene">Oceni vodiča</label>
    <select class="form-control" id="ocene">
      <option>10</option>
      <option>9</option>
      <option>8</option>
      <option>7</option>
      <option>6</option>
      <option>5</option>
      <option>4</option>
      <option>3</option>
      <option>2</option>
      <option>1</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Oceni</button>
</form> *@