@page
@model Projekat_1.JednaRezervacijaModel
@{

}

<form method="get">
    <div>Broj osoba: @Model.TrenutnaRezervacija.BrojOsoba.</div>
    <div>ID turiste: @Model.TrenutnaRezervacija.IdturisteRez.</div>
    <div>ID vodica: @Model.TrenutnaRezervacija.IdvodicaRez.</div>
    <div> Datum izvodjenja: @Model.TrenutnaRezervacija.DatumIzvodjenja</div>
</form>