@page
@model MyApp.Namespace.KvizoviModel
@{
     ViewData["Title"] = "Kvizovi";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div>
<button type="button" class="btn btn-primary">Dodaj novi kviz</button>
</div>

<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Prvi kviz
        <button type="button" class="btn btn-primary">Prikazi vise</button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Drugi kviz
        <button type="button" class="btn btn-primary">Prikazi vise</button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Treci kviz
        <button type="button" class="btn btn-primary">Prikazi vise</button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Cetvrti kviz
        <button type="button" class="btn btn-primary">Prikazi vise</button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Peti kviz
        <button type="button" class="btn btn-primary">Prikazi vise</button>
    </li>
</ul>