@page
@model MyApp.Namespace.KvizoviModel
@{
     ViewData["Title"] = "Kvizovi";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID Kviza</th>
      <th scope="col">Naziv Kviza</th>
    </tr>
  </thead>


<form method="get">
    @foreach (var kviz in Model.SviKvizovi)
    {
        <tbody>
    <tr>
      <th scope="row"> @kviz.Idkviz</th>
      <td>@kviz.Nazivkviza</td>
      <td><a asp-page="./JedanKviz/" asp-route-id="@kviz.Idkviz">Uradi kviz</a></td>
    </tr>
        </tbody>
    }
</form>