@page
@model Projekat_1.OdgovoriModel
@{
    ViewData["Title"] = "Odgovori";
}


<table class="table table-striped table-dark table-bordered" style="text-align: center">
  <thead>
    <tr>
      <th scope="col">ID odgovora</th>
      <th scope="col">Tekst odgovora</th>
      <th scope="col">ID pitanja</th>
      <th scope="col">Tacan</th>
    </tr>
  </thead>
    <form method="get">
    @foreach (var odgovor in Model.SviOdgovori)
    {
        <tbody>
    <tr>
      <td>@odgovor.IdOdgovor</td>
      <td>@odgovor.TekstOdg</td>
      <td>@odgovor.PitanjeId</td>
      <td>@odgovor.Tacno</td>
    </tr>
        </tbody>
    }
</form>
</table>