@page
@model MyApp.Namespace.PrijavaModel
@{
     ViewData["Title"] = "Prijava";
}


<div class="prijava fadeInDown">
  <div id="formContent">
    <form>
      <input type="text" id="korisnickoIme" class="fadeIn first" name="login" placeholder="Korisnicko ime">
      <input type="text" id="lozinka" class="fadeIn second" name="login" placeholder="Lozinka">
      <input type="submit" class="fadeIn third" value="Prijavi se">
    </form>

  </div>
</div>

