@page
@model PrivacyModel
@{
    ViewData["Title"] = "Kontakt";
}
<h1>@ViewData["Title"]</h1>


<p>Radno vreme: Svakog radnog dana, 08 - 15h</p>
<p>Adresa: Aleksandra Medvedeva 14, Niš</p>
<p>Broj telefona: +381 18529331</p>

