@page
@model MyApp.Namespace.RegistracijaModel
@{
     ViewData["Title"] = "Registracija";
}

    <form method="post">
     <div><input asp-for="NoviTurista.ImeTuriste" placeholder="Ime" /></div> 
     <div><input asp-for="NoviTurista.PrezimeTuriste" placeholder="Prezime" /></div> 
      <div><input asp-for="NoviTurista.Pol" placeholder="Pol" /></div>
      <div><input asp-for="NoviTurista.DatumRodjenja" placeholder="DatumRodjenja" /></div>
      <div><input asp-for="NoviTurista.Email" placeholder="Email" /></div>
     <div><input asp-for="NoviKorisnik.Username" placeholder="Korisnicko ime" /></div> 
      <div><input asp-for="NoviKorisnik.Password" placeholder="Lozinka" /></div>
      <div><button type="submit" class="btn btn-primary">Registruj se</button></div>
    </form>

