@page
@model MyApp.Namespace.PrijavaModel
@{
     ViewData["Title"] = "Prijava";
}


<div class="prijava fadeInDown">
  <div id="formContent">
    <form>
         <input type="text" id="ime" class="fadeIn" name="register" placeholder="Ime">
          <input type="text" id="prezime" class="fadeIn" name="register" placeholder="Prezime">
      <input type="text" id="korisnickoIme" class="fadeIn" name="register" placeholder="Korisnicko ime">
      <input type="text" id="email" class="fadeIn" name="register" placeholder="Email">
      <input type="text" id="lozinka" class="fadeIn" name="register" placeholder="Lozinka">
      <input type="submit" class="fadeIn" value="Registruj se">
    </form>

  </div>
</div>

