@page
@model Projekat_1.RezervacijeModel
@{
    ViewData["Title"]="Rezervacije";
}

<div class="text-left">
        <h1>@ViewData["Title"]</h1>
    </div>

<table  class="table table-striped table-dark table-bordered" style="text-align: center">
  <thead>
    <tr>
      <th scope="col">ID rezervacije</th>
      <th scope="col">Datum izvodjenja</th>
      <th scope="col">Detalji rezervacije</th>
    </tr>
  </thead>

<form method="get">
    @foreach (var rezervacija in Model.SveRezervacije)
    {
        <tbody>
    <tr>
      <th scope="row"> @rezervacija.IdRezervacije</th>
      <td>@rezervacija.DatumIzvodjenja</td>
      <td><a asp-page="./JednaRezervacija/" asp-route-id="@rezervacija.IdRezervacije">Prikazi detalje</a></td>
    </tr>
        </tbody>
    }
</form>