@page
@model Projekat_1.VodiciModel
@{
    ViewData["Title"] = "Vodiči";
}

<table class="table" border="1" frame"hsides" rules="rows">
            <thead>
                <tr>
                <th>Ime vodica</th>
                <th>Prezime vodica</th>
                <th></th>
                </tr>
            </thead>
            <form method="get">
           @foreach (var vodic in Model.SviVodici)
           {
               <tbody>
                   <tr>
                       <td>@vodic.ImeVodica</td>
                       <td>@vodic.PrezimeVodica</td>
                       <td><a asp-route-id="@vodic.IdVodica" asp-page="./JedanVodic">Prikazi vise</a></td>
                   </tr>
               </tbody>
           }
            </form>
</table>

