@page
@model Projekat_1.ZnamenitostiModel
@{
    ViewData["Title"] = "Znamenitosti";
}

<form> 
    <a asp-page="./AddZnamenitost/" >Dodaj znamenitost</a>
</form>

<form method="get">
    @foreach (var znamenitost in Model.SveZnamenitosti)
    {
        <div> 
            <h3> Ime znamenitosti: @znamenitost.NazivZnamenitosti</h3>
            <p> Lokacija: @znamenitost.LokacijaZnamenitosti</p>
            <a asp-page="./JednaZnamenitost/" asp-route-id="@znamenitost.IdZnamenitosti">Prikazi detalje</a>
            <a asp-page="./IzmeniZnamenitost" asp-route-id="@znamenitost.IdZnamenitosti">Izmeni Znamenitost</a>
        </div>
    }
</form>