@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Projekat.Areas.Znamenitosti.AddModel
@{
	ViewData["Title"]="Add";
}

<form method="post">
    <input type="text" placeholder="Naziv" asp-for="NovaZnamenitost.NazivZnamenitosti" required>
    <input type="text" placeholder="Lokacija" asp-for="NovaZnamenitost.Lokacija" required>
    <input type="text" placeholder="Opis" asp-for="NovaZnamenitost.Opis" required>
    <input type="text" placeholder="Radno vreme" asp-for="NovaZnamenitost.RadnoVreme" required>
    <input type="text" placeholder="Broj telefona" asp-for="NovaZnamenitost.BrojTelefona">
    <input type="text" placeholder="Cena ulaznice" asp-for="NovaZnamenitost.CenaUlaznice">
    <button type="submit" @Html.AntiForgeryToken(); class="btn btn-primary">Dodaj znamenitost</button>
</form>