@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Projekat.Areas.Znamenitosti.EditModel
@{
}

<p>Izmena znamenitosti: </p>
<form method="post">
    <input type="hidden" asp-for="TrenutnaZnamenitost.IdZnamenitosti">
    <div>Naziv: <input type="text" asp-for="TrenutnaZnamenitost.NazivZnamenitosti" /></div>
    <div>Lokacija: <input type="text" asp-for="TrenutnaZnamenitost.Lokacija" /></div> 
    <div>Opis: <input type="text" asp-for="TrenutnaZnamenitost.Opis" /></div> 
    <div>Radno vreme: <input type="text" asp-for="TrenutnaZnamenitost.RadnoVreme" /></div> 
    <div>Broj telefona: <input type="text" asp-for="TrenutnaZnamenitost.BrojTelefona" /></div> 
    <div>Cena ulaznice: <input type="text" asp-for="TrenutnaZnamenitost.Cena" /></div> 
    
    <button type="submit" @Html.AntiForgeryToken(); asp-page-handler="Sacuvaj">Sacuvaj izmene</button>
</form>