@page
@model KonacniProjekat.KvizDodajModel
@{
    ViewData["Title"]="Novi kviz";
}

<div class="text-center">
    <h2 class="display 4">Novi kviz</h2>
</div>

<form method="post">
    <div class="dodaj">
        <div id="formContent">
            <label class="form-control">Naziv kviza:</label> <input asp-for="NoviKviz.NazivKviza" class="form-control" placeholder="Naziv kviza" />
            <label class="form-control">Znamenitost:</label>    <select class="form-control select-fit-text margin-input-izmena" asp-for="IzabranaZnamenitostString" style="display:block;" asp-items="Model.IzborZnamenitostiLista">
                                                                    <option value="">Bez znamenitosti</option>
                                                                    <option value="" selected disabled hidden>Izaberite za koju znamenitost je vezan kviz.</option>
                                                                </select>
            <label class="form-control">Tura:</label>    <select class="form-control select-fit-text margin-input-izmena" asp-for="IzabranaTuraString" style="display:block;" asp-items="Model.IzborTuraLista">
                                                                    <option value="">Bez ture</option>
                                                                    <option value="" selected disabled hidden>Izaberite za koju turu je vezan kviz.</option>
                                                                </select>
            <button type="submit" class="dugme">Dodaj novi kviz</button>
        </div>
    </div>
</form>