@page
@model KonacniProjekat.OdjavaModel
@{
}


<form method="post">
  <div class="prijava fadeInDown">
      <label>Da li ste sigurni da zelite da se odjavite?</label>
      <button type="submit">Odjavi se</button>
    </div>
  </div>
</form>