@page
@model ONamaModel
@{
    ViewData["Title"] = "O Nama";
}


  <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">O Nama</h2>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Početak</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Organizacija Niškog Turizma osnovana je 2020. godine sa idejom da posetiocima Niša pruži turističke informacije, organizuje ture razgledanja grada autobusom, šetnje sa turističkim vodičima..</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Misija</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Naša misija je promocija Niša kao atraktivnog odredišta, očuvanje i razvoj turističkih kulturnih i poslovnih vrednosti i potencija grada.</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Vizija</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Naša vizija je da Niš postane poželjno turističko odredište na turističkoj mapi Evrope, mesto koje se rado i uvek iznova posećuje!</p></div>
                        </div>
                    </li>
                     <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h3>
                                <br/>
                                Članovi
                                <br />
                                tima
                            </h3>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Aleksandra Jovanović</h4>
                            </div>
                     
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Sara Jovanović</h4>
                            </div>
                     
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Valentina Jošanović</h4>
                            </div>
                     
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Aleksa Krstić</h4>
                            </div>
                     
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                <br/>
                                Postani deo
                                <br />
                                naše
                                <br />
                                Organizacije!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>