@page
@model KonacniProjekat.PrijavaModel
@{
}


<form method="post">
  <div class="prijava">
    <div id="formContent">
      <input type="text"  placeholder="Korisnicko ime" asp-for="TrenutniKorisnik.Username">
      <input type="password"  placeholder="Lozinka" asp-for="TrenutniKorisnik.Password">
      <input type="submit" value="Prijavi se"/>
      <div class="d-flex justify-content-center links">
				Nemaš nalog?<a href="/Registracija">Registruj se <i class="far fa-id-badge"></i></a>
				</div>
    </div>
  </div>
</form>

@if (Model.SessionId == -1)
{
  <div class="prijava">
   <div class="alert alert-danger" role="alert">
     <i class="fas fa-exclamation-triangle"></i> Uneli ste pogresno korisnicko ime ili lozinku. <i class="fas fa-exclamation-triangle"></i>
   </div>
 </div>
}

