@page
@model KonacniProjekat.RegistracijaModel
@{
}

<div class="registracija">
<div id="formContent">
<form method="post">
            <input type="text" asp-for="NoviTurista.ImeTuriste" placeholder="Ime" required />
            <input type="text" asp-for="NoviTurista.PrezimeTuriste" placeholder="Prezime" required />
          <input type="text" asp-for="NoviTurista.Pol" placeholder="Pol" required />
         <label>Datum rodjenja <input type="date" asp-for="NoviTurista.DatumRodjenja" required /></label>
          <input type="text" asp-for="NoviTurista.Email" placeholder="Email" required />
         <input type="text" asp-for="NoviKorisnik.Username" placeholder="Korisnicko ime" required />
          <input type="text"  asp-for="NoviKorisnik.Password" placeholder="Lozinka" required />
        <div><input type="submit" value="Registruj se"/> </div>
       	<div class="d-flex justify-content-center links">
				Imas nalog?<a href="/Prijava">Prijavi se</a>
				</div>
     </form> 
     </div>
</div>

