@page
@model KonacniProjekat.TuraObrisiModel
@{
    ViewData["Title"]="Brisanje ture";
}

@if(SessionClass.TipKorisnika=="A")
{
<div class="brisi-ture fadeInDown">
<div id="formContent">
<form method="post">


    <label class="form-control select-fit-text" >
            <h5>Da li ste sigurni da želite da obrišete sledeću turu: @Model.TuraZaBrisanje.NazivTure ?</h5>
    </label>

    <button type="submit" class="btn btn-danger">Da</button>
    <a asp-page="./TuraSve" >Ne</a>

</form>
</div>
</div>
}
else{
  <div class="alert alert-danger" role="alert" style="text-align: center;">Nemate pristup ovoj stranici, samo admin može da obrise turu</div> 
}
