@page
@model KonacniProjekat.TuraDodajModel
@{
    ViewData["Title"]="Nova tura";
}

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" asp-page="./TuraSve">Vrati se nazad</a></li>
  </ul>
</nav>
@if(SessionClass.TipKorisnika=="A")
{
<form method="post">
   <div class="registracija">
       <div class="text-center">
    <h2 class="display 4">Nova tura</h2>
    </div>
    <div id="formContent">
        <input asp-for="NovaTura.NazivTure" placeholder="Naziv" required  />
        <label class="form-control">Dan odrzavanja:</label>
        <div class="forma-check"><input type="checkbox" name="IzabraniDani[]" value="1" /> <h6>Ponedeljak</h6> </div>
        <div class="forma-check"><input type="checkbox" name="IzabraniDani[]" value="2" /> <h6>Utorak</h6> </div>
        <div class="forma-check"><input type="checkbox" name="IzabraniDani[]" value="3" /> <h6>Sreda</h6> </div>
        <div class="forma-check"><input type="checkbox" name="IzabraniDani[]" value="4" /> <h6>Četvrtak</h6> </div>
        <div class="forma-check"><input type="checkbox" name="IzabraniDani[]" value="5" /> <h6>Petak</h6> </div>
        <div class="forma-check"><input type="checkbox" name="IzabraniDani[]" value="6" /> <h6>Subota</h6> </div>
        <div class="forma-check"><input type="checkbox" name="IzabraniDani[]" value="7" /> <h6>Nedelja</h6> </div>
    
       <label>Vreme odrzavanja: <input type="time" asp-for="NovaTura.VremeOdrzavanja" required /></label>
                                                        
        <input asp-for="NovaTura.MestoPolaska" placeholder="Mesto polaska" required />

        <input asp-for="NovaTura.Kapacitet" min="1" max="100" placeholder="Kapacitet" required />

        <textarea class="text-area-fit" asp-for="NovaTura.Opis" placeholder="Opis" required > </textarea>

        <select asp-for="IzabraniVodic" asp-items="@Model.SviVodici">
            <option value="" selected disabled hidden>Izaberite vodiča koji će voditi turu.</option>
        </select>

        @foreach (var znamenitost in Model.SveZnamenitosti)
        {
            <div class="forma-check">
                <input type="checkbox" name="IzabraneZnamenitosti[]" value="@znamenitost.IdZnamenitosti" /> <h6>@znamenitost.NazivZnamenitosti</h6>
            </div>
        } 
         
        <input type="submit" value="Dodaj novu turu"/>
    </div>
</form>
}
else{
  <div class="alert alert-danger" role="alert" style="text-align: center;">Nemate pristup ovoj stranici, samo admin može da kreira novu turu</div> 
}
