@page
@model KonacniProjekat.TuraDodajZnamenitostiModel
@{
    ViewData["Title"] = "Izmeni turu";
}

<div class="text-center">
    <h2 class="display-4">Izmena ture: @Model.OvaTura.NazivTure</h2>
</div>
@if(SessionClass.TipKorisnika=="A")
{
<form method="post">
    <label class="form-control">Znamenitosti:</label> 
        @foreach (var znamenitost in Model.SveZnamenitostiLista)
        {
            <div class="forma-check">
                <input type="checkbox" name="IzabraneZnamenitosti[]" value="@znamenitost.IdZnamenitosti" /> <h6>@znamenitost.NazivZnamenitosti</h6>
            </div>
        }                                                      
                                                                                
    <div>
        <button type="submit">Sačuvajte izmene</button>
    </div>                                              
                                                        
</form>
}
else{
  <div class="alert alert-danger" role="alert" style="text-align: center;">Nemate pristup ovoj stranici, samo admin može da izmeni turu</div> 
}
