@page
@model MyApp.Namespace.TuraKomentariModel
@{
}

<div class=text-center>
    <h1 class="display-4">Komentari za turu: @Model.Tura.NazivTure</h1>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" asp-page="./TuraJedna" asp-route-id="@Model.Tura.IdTure"><i class='fas fa-arrow-circle-left'></i>Vrati se na prikaz ture</a></li>
  </ul>
</nav>

<div class="formaKAK">
    <ol type="1">
    @foreach (var k in Model.RezultatiAnketa)
    {
      @if(k.Komentar!=null){

         
        <li class="naziv">@k.Komentar</li>
        }
    }
    </ol>
</div>

