@page
@model KonacniProjekat.VodicSviModel
@{
}

<form method="get">
<div class="text-center">
    <h1 class="display-4">Vodici</h1>
</div>
<div class="row">
@foreach (var vodic in Model.Vodici) 
{
<div class="column">
 <div class="flip-card-vodic">
  <div class="flip-card-inner-vodic">
    <div class="flip-card-front-vodic">
      @if(@vodic.Slika!=null)
      {
      <img src="images/@vodic.Slika" alt="Avatar" style="width:200px;height:200px; border-radius: 50px 20px;">}
    </div>
    <div class="flip-card-back-vodic">
      <h2>@vodic.ImeVodica @vodic.PrezimeVodica</h2>
 <a asp-page="./VodicJedan" asp-route-id="@vodic.IdVodica" style="color:#262626; font-size:18px; position: absolute;left: 0; right: 0; bottom:2px">Prikazi detalje <i class='fas fa-id-card-alt' style="color: black;" ></i></a>
    </div>
  </div>
 </div>
  </div>
}
</div>
</form>


<script src='https://kit.fontawesome.com/a076d05399.js'></script>