@page
@model KonacniProjekat.VodicObrisiModel
@{
    ViewData["Title"]="Brisanje vodiča";
}

<div>
 <i class='fas fa-arrow-circle-left'></i><a asp-page="./VodicSvi" style="color:#84c1ff;">Lista vodiča</a>
</div>

@if(SessionClass.TipKorisnika=="A")
{
<form method="post">
@if(@Model.provera==0)
{
  <div class="brisi-ture fadeInDown">
  <div id="formContent">
    <label class="form-control select-fit-text" >
            <h5>Da li ste sigurni da želite da obrišete sledećeg vodiča: @Model.VodicZaBrisanje.ImeVodica @Model.VodicZaBrisanje.PrezimeVodica ?</h5>
    </label>

    <button type="submit" class="btn btn-danger">Da</button>
    <a asp-page="./VodicSvi" >Ne</a>
  </div>
  </div> 
}
else
{
  <div class="alert alert-danger" role="alert" style="text-align: center;"><i class="fas fa-exclamation-triangle"></i> Ne možete da obrisete vodiča koji ima rezervacije. <i class="fas fa-exclamation-triangle"></i></div> 
}
</form>
}
else{
  <div class="alert alert-danger" role="alert" style="text-align: center;"><i class="fas fa-exclamation-triangle"></i> Nemate pristup ovoj stranici, samo admin može da obrise nalog vodiču. <i class="fas fa-exclamation-triangle"></i></div> 
}
