@page
@model KonacniProjekat.VodicDodajModel
@{
}
<div class="text-center">
    <h1 class="display-4">Kreiranje naloga - Vodič</h1>
</div>
@if(SessionClass.TipKorisnika=="A"){
<div class="registracija fadeInDown">
<div id="formContent">
<form method="post">
          <input type="text" asp-for="NoviVodic.ImeVodica" placeholder="Ime" required />
          <input type="text" asp-for="NoviVodic.PrezimeVodica" placeholder="Prezime" required />
          <input type="text" asp-for="NoviVodic.Pol" placeholder="Pol" required />
          <label>Datum rodjenja <input type="date" asp-for="NoviVodic.DatumRodjenja" required /></label>
          <input type="text" asp-for="NoviVodic.BrojTelefona" placeholder="BrojTelefona" required />
          <input type="text" asp-for="NoviVodic.Email" placeholder="Email" required />
          <input type="text" asp-for="NoviVodic.Licenca" placeholder="Licenca" required />
          <input type="text" asp-for="NoviKorisnik.Username" placeholder="Korisnicko ime" required />
          <input type="text"  asp-for="NoviKorisnik.Password" placeholder="Lozinka" required />
          <input type="file"  asp-for="NoviVodic.Slika" placeholder="Slika" required />
       <button type="submit">Registruj se</button>
     </form>
     </div>
</div>
}
else{
  <div class="alert alert-danger" role="alert" style="text-align: center;">Nemate pristup ovoj stranici, samo admin može da kreira nalog</div> 
}

