@page
@model KonacniProjekat.ZnamenitostObrisiModel
@{
     ViewData["Title"]="Brisanje znamenitosti";
}
   @if(SessionClass.TipKorisnika=="A"){
<div class="brisi-znamenitosti fadeInDown">
<div id="formContent">
<form method="post">

    <label class="form-control select-fit-text" >
            <h5>Da li ste sigurni da želite da obrišete sledeću znamenitosti: @Model.ZnamenitostZaBrisanje.NazivZnamenitosti ?</h5>
    </label>

    <button type="submit" class="btn btn-danger">Da</button>
    <a asp-page="./ZnamenitostSve" >Ne</a>

</form>
</div>
</div>
   }
 else{
    <div class="alert alert-danger" role="alert" style="text-align: center;">Nemate pristup ovoj stranici</div> 
}