@page
@model KonacniProjekat.ZnamenitostSveModel
@{
ViewData["Title"]="Znamenitosti";
}

<div class="text-center">
    <h1 class="display-4">Znamenitosti</h1>
</div>

<div class="text-right">
    <h3><a asp-page="./ZnamenitostDodaj">Dodaj znamenitost</a></h3>
</div>

<div style="display: grid;  grid-template-columns: auto auto auto;">
@foreach (var znamenitost in Model.SveZnamenitosti) 
{
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                  @if(@znamenitost.Slika!=null)
      {
                <img src="images/znamenitosti/@znamenitost.Slika" alt="Avatar" style="width:300px;height:200px; border-radius: 50px 20px;  "> }
            </div>
            <div class="flip-card-back">
                <div class="text-center">
                    <div><h2>@znamenitost.NazivZnamenitosti</h2></div>
                    <div><a asp-page="./ZnamenitostJedna" asp-route-id="@Model.SessionId" asp-route-znamenitost="@znamenitost.IdZnamenitosti">Vidi znamenitost</a></div>
                    <div><a asp-page="./ZnamenitostIzmeni" asp-route-id="@znamenitost.IdZnamenitosti">Izmeni znamenitost</a></div>
                </div>
            </div>
        </div>
    </div>
}
</div>