@page
@model KonacniProjekat.ZnamenitostSlikaModel
@{
ViewData["Title"]="Izmena znamenitosti";
}


@if(SessionClass.TipKorisnika=="A")
{
<form method="post">
    <div class="dodaj">
        <div id="formContent">
         <label class="form-control">Dodajte sliku:</label> <input type="file" asp-for="NovaSlika.Slika"  placeholder="Slika" required />
         <button type="submit">Dodaj Sliku</button>
        </div>
    </div>
</form>
}
 else{
    <div class="alert alert-danger" role="alert" style="text-align: center;">Nemate pristup ovoj stranici</div> 
}